@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/styles.css" />
<script src="/js/script.js"></script>

<div class="text-center">
    <h1 class="display-4">Explore Concerts and Events!</h1>
</div>

<div class="search-bar">
    <input class="search-input" type="text" placeholder="Search events..." />
</div>

<div class="scroll-container">
    <img class="event" src="/images/drake.jpg" alt="Drake" />
    <img class="event" src="/images/edsheeran.jpg" alt="Ed Sheeran" />
    <img class="event" src="/images/sza.jpg" alt="SZA" />
    <img class="event" src="/images/swift.jpg" alt="Taylor Swift" />
</div>
