@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

.title {
    font-family: comfortaa;
    font-size: 40px;
}

.event {
    width: 400px;
    height: 400px;
}

.search-bar {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px
}

.search-bar input[type="text"] {
    width: 400px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
}

.search-input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search-input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-left: 10px;
    font-family: comfortaa;
}

.search-input:hover,
.search-input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.scroll-container {
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
}

.scroll-content {
    display: inline-flex;
}

.scroll-container img {
    padding: 10px;
}

.scroll-button {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    font-size: 24px;
    color: #575756;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-button.left {
    left: 20px;
}

.scroll-button.right {
    right: 20px;
}

.image-container {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    cursor: pointer;
}

.image-container:hover .overlay {
    opacity: 0.85;
}

.text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: comfortaa;
    font-weight: bold;
}

.main-header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.create-user {
    margin-left: 50px;
    color: #454545;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #454545;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-family: comfortaa;
    font-weight: bold;
}

.create-user:before, .create-user:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

.create-user:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

.create-user:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

.create-user:hover:before, button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

.create-user:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff
}

.create-container {
    max-width: 960px;
    text-align: center;
    position: relative;
    margin: auto;
    padding-left: 190px;
}

.create-container button {
    color: #4f9eff;
    border-color: #4f9eff;
}

.create-container button:before, .create-container button:after {
    border-color: #4f9eff;
}

.create-container button:hover:before, .create-container button:hover:after {
    border-color: #4f9eff;
}

.create-container button:hover {
    color: #fff;
    background-color: #4f9eff;
    border-color: #4f9eff;
}

